/* Footer */
.footer-container {
  background-color: var(--footer-bg);
  padding: 1rem;
  color: #3f3f3f;
  font-size: 0.9rem;
}

.nav-footer {}

.copyright-box {
  padding: 0.5rem 0rem;
  color: #919191;
}

.nav-footer .nav-link {
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  color: #3f3f3f;
}

.nav-footer a {
  color: #3f3f3f;
}

.nav-footer a:hover {
  color: #3f3f3f;
  text-decoration: underline !important;
}