
/* Device detail*/

.header-sector {
  padding: 0 0 1rem 0;
  .device-nick {
    font-size: 2.125rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .status-badge {
      font-size: 14px;
    }
  }
  .status-badge {
    font-weight: 400;
    font-size: 50%;
    line-height: 1rem;
    margin-left: 0.3em;
  }

  .device-revision-pager {
    display: none;
  }

  .device-revision-pager strong {
    display: inline-block;
    margin-right: 1rem;
    font-weight: 600;
  }

  .device-revision-pager .pagination {
    margin: 0;
  }
}

/* Status Badges blinking */
@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
}

.status-badge:not(.status-new):not(.status-done):not(.status-error) {
  // animation: blink 1.5s ease-in-out infinite;
}

.device-detail-main .jumbotron {
  padding: 1rem 1rem 0 1rem;
  font-size: 0.875rem;
}

.device-navigator h3 {
  font-weight: 300;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.device-navigator .nav-tabs {
  margin-bottom: 1rem;
}

.device-navigator .nav-tabs .nav-link {
  border-radius: 0;
  border-color: #ddd;
  cursor: pointer;
}

.device-navigator .nav-tabs .nav-item:first-of-type .nav-link {
  border-radius: 0.25rem 0.25rem 0 0;
}

.device-navigator .nav-tabs .nav-item:last-of-type .nav-link {
  border-radius: 0 0 0.25rem 0.25rem;
}

.device-navigator .table {
  border: none;
  font-size: 0.875rem;

  &.table-no-first-border {
    tbody, thead {
      tr:first-child {
        td, th {
          border-top: 0;
        }
      }
    }
  }
}

.device-navigator .table .expander {
  overflow: hidden;
  max-width: 100%;
}

.device-navigator .badge {}

.tab-content {
  background-color: var(--white);
  border-radius: 4px;
  box-sizing: content-box;
  
  & > .active {
    padding: 0;
    border: 1px solid #ddd;
    border-top: none;
  }
}

/*Navigator readme*/
.readme-wrapper {
  padding: 3rem;
  .readme-inner-wrapper {
    max-width: 800px;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
}

// #tab-content-metadata {}

#tab-content-history {
  .table {
    margin-bottom: 0;
    th, td {
      padding: 0.75rem 2rem 0.75rem 1.4rem;
    }
    th {
      font-weight: normal;
    }
  }
}

.device-tab {
  &__inner {
    padding: 0;
    .tab-title {
      margin-top: 0;
      padding: 1.4rem 1.4rem 0;
    }
  }
}

.device-meta {
  .meta-title {
    margin-top: 0;
    padding: 1.4rem 1.4rem 0;
  }
  .table th, .table td {
    padding: 0.75rem 1.4rem;
  }

  .table th {
    font-weight: normal;
  }

  .meta-key {
    font-weight: bold;
  }
}

/* Navigator Logs */
.log-wrapper {
  padding: 0.5rem;
  max-height: 400px;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: black;
  scroll-behaviour: smooth;
}

.log-filters {
  padding: 1.5rem 1rem 1rem;
  // .log-title {} 
}

.log-wrapper .log-row-header {
  font-family: monospace;
  font-size: 0.825rem;
  padding: 0.1rem;
  margin: 0;
  overflow-x: hidden;
}

.log-wrapper .level-debug .log-row-header {
  color: #e9ecef;
}

.log-wrapper .level-info .log-row-header {
  color: lightblue;
}

.log-wrapper .level-warn .log-row-header {
  color: orange;
}

.log-wrapper .level-error .log-row-header {
  color: red;
}


@media only screen and (min-width: 575px) {
  .header-sector .status-badge {
    font-size: 75%;
  }

  .device-navigator .table {
    font-size: 0.925rem;
  }

  .device-navigator .nav-tabs {
    margin-bottom: 0;
  }

  .device-navigator .nav-tabs .nav-link {
    border: none;
  }

  .device-navigator .nav-tabs .nav-link.active {
    border-radius: 0.25rem 0.25rem 0 0;
    border: 1px solid #ddd;
    border-color: #ddd #ddd var(--white);
    background-color: var(--white);
  }

  .device-navigator .nav-tabs .nav-item:last-of-type .nav-link {
    border-radius: 0.25rem 0.25rem 0 0;
  }
}


@media only screen and (min-width: 768px) {
  .device-detail-main .jumbotron {
    padding: 1rem 1.25rem 0 1.25rem;
    font-size: 0.925rem;
  }

  .header-sector .status-badge {
    float: none;
    font-size: 65%;
  }

  .header-sector .device-revision-pager {
    margin-top: 0.3rem;
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .header-sector .status-badge {
    font-size: 75%;
  }

  .device-navigator .table {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .device-detail-main .jumbotron {
    padding: 1rem 2rem 0 2rem;
    font-size: 1rem;
  }
}


.json-with-clipboard .json-value-wrapper {
  background-color: var(--white);
  border: none;
  max-width: 264px;
  padding: 0.75rem;
}

.json-with-clipboard .json-value-wrapper pre {
  font-size: 0.725rem;
}

.json-with-clipboard .clipboard-button {
  position: absolute;
  right: 2rem;
  margin-right: 0.75rem;
  margin-top: 0.25rem;
}

@media only screen and (min-width: 340px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 300px;
  }
}

@media only screen and (min-width: 480px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 424px;
  }
}

@media only screen and (min-width: 575px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 484px;
  }
}

@media only screen and (min-width: 768px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 664px;
  }
}

@media only screen and (min-width: 1024px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 904px;
  }
}

@media only screen and (min-width: 1200px) {
  .json-with-clipboard .json-value-wrapper {
    max-width: 1084px;
  }
}