/* Landing page */
.landing-page {
  overflow: hidden;
  margin-top: -6em;
}

.landing-page .hero {
  padding: 2rem 1rem 5rem;
  
  &::before {
    background-color: var(--hero-bg);
  }
  
  .welcome {
    color: #eaeaeb;
    z-index: 2;
  }

  .welcome header {
    margin: 5rem 0 1.25rem;
  }

  .welcome h1 {
    padding-top: 1em;
    font-size: 2.75rem;
    font-weight: bold;
    color: #eaeaeb;
  }

  .welcome p {
    font-size: 1.375rem;
    font-weight: 200;
  }

  .signup {
    z-index: 2;
    background-color: var(--brown-light);
    color: var(--primary-color);
    padding: 2.5rem 2rem 0.25rem;
    border-radius: 0.5rem;
  }

  .welcome .welcome-images {
    margin: 1.5rem 0;
  }

  .welcome .welcome-images-item {
    width: 86px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: 480px) {
    .welcome .welcome-images-item {
      width: 96px;
    }
  }

  .welcome .welcome-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 64px;
    width: 64px;
  }

  .signup .btn-dark {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.landing-page .sell header,
.landing-page .contact header {
  margin: 3rem 0 0;
}

.landing-page .sell {
  &::before {
    background-color: var(--brown-light);
    height: 200%;
  }
  
  hr {
    border-color: #30303c;
  }
  p {
    margin-bottom: 3rem;
  }
}

.landing-page .features {
  margin-top: 4rem;
  &::before {
    background-color: var(--white);
    top: 0%;
  }
  
  .container {
    margin: 3rem auto;
  }

  .feature {
    margin-bottom: 3rem;
  }

  .feature-image-row {
    margin-bottom: 1.5rem;
  }

  .feature-image {
    background-color: var(--orange);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 0 auto;

    &__small {
      background-size: 40%;
    }
  }

  .feature-title-row h4 {
    color: var(--primary-color);
  }

}

.landing-page .contact {
  color: var(--white);

  &::before {
    background-color: var(--primary-color);
    top: 0;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  header {
    display: flex;
    justify-content: center;
    h2 {
      display: flex;
      margin-bottom: 0.5em;
    }
  }

  p {
    line-height: 1.4em;
  }
  
  .container {
    margin: 1.5rem auto 6rem;
  }
  
  .form {
    margin-top: 3rem;
  }
  
  .form .input-group input::placeholder {
    color: #fff;
  }
  
  .form .input-group input,
  .form .input-group-btn button,
  .form .input-group-btn button:hover {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
    border-bottom-color: rgb(66, 66, 98);
    border-bottom-color: #fff;
    border-radius: 0;
  }
}
