.rpp-page {
  min-height: 80vh;
}

.cnp {
  .was-validated .form-control:valid, .form-control.is-valid {
    background: none;
  }
  .was-validated .form-control:invalid, .form-control.is-invalid {
    background: none;
  }
}