// Fonts
$font-family-base: 'Montserrat', sans-serif;

// Colors
$orange: #F6BC72;
$primary-color: #424262;
$color-danger: #fc7885;
$footer-bg: #E5E5E5;
$hero-bg: #27283C;
$brown:    #E5E5E5;
$brown-light:#f6f6f6;

// Inputs
$input-color: $primary-color;
$input-font-weight: bold;

// Buttons
$btn-padding-x: 2em;

