/* Your Dashboard */

.dashboard-sector {
  position: relative;
  top: -100px;
  z-index: 2;
}

.dashboard-sector {
  border-radius: 0.25rem;
  padding: 2rem;
  margin-top: 1rem;
}

.dashboard-sector h3 {
  font-weight: 500;
}

.dashboard-sector h4 {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1.5rem 0rem;
}

.dashboard-sector .quota-box {
}

.dashboard-sector .quota-box .progress {
  margin-bottom: 1rem;
}

.dashboard-sector .quota-box .progress .bg-success {
  background-color: var(--primary-color) !important;
}

.dashboard-sector .quota-box .chart-bar {
  margin-bottom: 1rem;
  font-size: 0.825rem;
}

.dashboard-sector .quota-box .quota-detail {
  font-size: 0.7rem;
}

.dashboard-sector .quota-box .small {
  font-size: 70%;
}

@media only screen and (min-width: 575px) {
  .dashboard-sector .quota-box .chart-bar {
    margin-bottom: 1.5rem;
    font-size: 0.875em;
  }

  .dashboard-sector .quota-box .quota-detail {
    font-size: 0.875em;
  }

  .dashboard-sector .quota-box .small {
    font-size: 80%;
  }
}

@media only screen and (min-width: 769px) {
  .dashboard-sector .quota-box .chart-bar {
    margin-bottom: 2rem;
    font-size: 1em;
  }

  .dashboard-sector .quota-box .quota-detail {
    font-size: 1em;
  }

  .dashboard-sector .quota-box .small {
    font-size: 80%;
  }
}