@import "../../../styles/variables";

.device-tiles {
  .overlay-trigger-pointer {
    cursor: pointer;
  }
  .tile{
    .extraClass {
      font-size: 20px !important;
      pointer-events: auto !important;
      &:hover {
        visibility: visible !important;
        opacity: 1 !important;
      }
    }
    &.card {
      background-color: white;
      .card-header{
        background-color: lighten($primary-color, 20);
        color: white !important;
      }
      .card-footer {
        cursor: pointer;
        .mdi {
          position: relative;
          top: 2px;
        }
      }
    }

    &__arguments {
      margin-bottom: 10px;
      margin-left: -20px;
      margin-right: -20px;
      h6 {
        margin: 0;
        padding: 10px 20px;
        font-weight: normal;
        background-color: rgba(200,200, 200,0.1);
      }
      .list-group {
        font-size: 0.9em;
        &.small {
          font-size: 0.8em;
        }
        .list-group-item {
          border-bottom: none;
          padding: 5px 20px;
          position: relative;
        }
      }
    }
  }
}