/*!
 * PantaHub Custom Styles
 * Based on Bootstrap v4.0.0-beta (https://getbootstrap.com)
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "./styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/generals";

html {
  overflow-y: scroll;
}

body {
  background-color: var(--brown-light);
}

.minimal-height {
  @media screen and (min-width: 576px) {
    min-height: 90vh;
  }
}

.bg-brown {
  background-color: var(--brown);
}

.card {
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: var(--brown);
  
  &-xl {
    padding: 1em;
    @media screen and (min-width: 576px) {
      padding: 2em;
    }
  }
  
  @media screen and (max-width: 576px){
    background: none !important;
    border: none;
    box-shadow: none;
    
    .card-body {
      margin: 0;
      padding: 0;
    }
  }
}

.status-badge { 
  text-transform: uppercase;
}

.badge-success {
  color: #fff;
  background-color: #5fba7d;
  font-weight: 400;
}

.badge-danger {
  color: #fff;
  background-color: $color-danger;
  font-weight: 400;
}

.badge-warning {
  color: #fff;
  background-color: #ffd451;
  font-weight: 400;
}

.badge-secondary {
  color: #fff;
  background-color: #c0c8d0;
  font-weight: 400;
}

.thead-inverse th {
  color: #fff;
  background-color: #8c9fb1;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.btn-danger {
  color: #fff;
  background-color: #ff6978;
  border-color: #ff6978;
}

.btn-success {
  color: #fff;
  background-color: #5fba7d;
  border-color: #5fba7d;
}

.borderless td,
.borderless th {
  border: none;
  padding: 0.5rem 0rem;
}

/* Pagination */

.pagination {
  margin: 3rem 0rem 1rem 0rem;
}

.pagination {
  .page-item select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 1em;
    padding-right: 0.5em;
  }

  .mdi::before {
    font-size: 1.3rem;
    line-height: 1.1rem;
    position: relative;
    top: 0.2rem;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #3973c3;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Primary Navbar */
.ios #navbar-main {
  padding-top: 2.5em;

  &::before {
    height: 120px;
  }
}

#navbar-main {
  overflow: visible;
  z-index: 1;
  padding-top: 1em;
  margin-bottom: 1em;
  background-color: var(--primary-color);

  &::before {
    background-color: var(--primary-color);
    height: 100px;
    
    @media screen and (min-width: 576px) {
      height: 260%;
      top: -100%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    }
  }

  @media only screen and (min-width: 575px) {
    margin-bottom: 1.5em;
    background-color: none;
  }

  .navbar-brand {
    @media only screen and (min-width: 575px) {
      margin-right: 3rem;
      margin-left: 15px;
      position: relative;
      top: 3px;
    }
  }

  .navigation-main {
    position: relative;
    top: 0em;
    transition: all 1s ease-out; 
       
    @media screen and (min-width: 575px) {
      top: 0.4em;
    }
  }
}

.navbar .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}

.navbar-profile .nav-link {
  font-size: 1em;
  font-weight: 300 !important;
}

/* Content */

#container-main {
  padding: 5px 0;
}

/* Breadcrumb */

.breadcrumb-sector {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border-bottom: 1px dotted #d9d9d9;
}

.breadcrumb-sector .quota-indicator {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .breadcrumb-sector .quota-indicator {
    margin-right: 1.2rem;
    display: inline-block;
  }
}

.breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: transparent;
}

@media only screen and (max-width: 368px) {
  .breadcrumb {
    font-size: 0.825em;
  }
}

.btn-light {
  color: #111;
  background-color: #f8f9fa;
  border-color: #dadada;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: #8a8aab;
  border-color: $primary-color;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #8a8aab;
  border-color: #8a8aab;
}

/* Terms of Service */
.terms-of-service {
  padding: 2rem;
}

/* Dashboard */

/* Getting Started / Feed */

.jumbotron {
  padding: 1rem 2rem 0rem 2rem;
  margin-bottom: 2rem;
  background-color: rgba(233, 236, 239, 0.36);
  border-radius: 0;
  border: 1px solid #e9ecef;
}

.getting-started {
  padding: 1rem 0;
}

.getting-started .btn {
  // font-size: 0.825rem;
  font-weight: 300;
  margin-right: 1rem;
}

// @media only screen and (min-width: 575px) {
//   .getting-started .btn {
//     font-size: 0.975rem;
//   }
// }

// @media only screen and (min-width: 769px) {
//   .getting-started .btn {
//     font-size: 1.25rem;
//   }
// }

.feed-dashboard {
  padding: 2rem 1rem;
  margin-top: 2rem;
  border-top: 1px dotted #d9d9d9;
}

.feed-dashboard h2 {
  font-weight: 600;
}

.list-feed {
  margin-top: 2rem;
}

.list-feed .badge-light {
  background-color: #e8e8e8;
  font-weight: 300;
  padding: 0.4rem;
  margin-right: 0.2rem;
}

.list-feed li {
  margin-bottom: 0.5rem;
}

.list-feed li a {
  /*color: #3F3F3F;*/
}

/* Devices */

/* Devices list*/
.table-light-header th {
  font-weight: normal;
}
.list-sector {
  .table {
    border: 1px solid #e9ecef;
    th {
      font-size: 0.95em;
    }

    td,
    th {
      white-space: nowrap;
      word-break: keep-all;
    }

    .error {
      white-space: normal;
      word-break: normal;
    }

    .progress-revision,
    .status,
    .status-msg,
    .actions,
    .timestamp,
    .step-time {
      display: none;
    }

    @media only screen and (min-width: 480px) {
      .timestamp {
        display: table-cell;
      }
    }

    @media only screen and (min-width: 768px) {
      .actions {
        display: table-cell;
      }
    }

    @media only screen and (min-width: 1024px) {
      .step-time,
      .progress-revision,
      .status-msg {
        display: table-cell;
      }

      .status-msg {
        max-width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    @media only screen and (min-width: 1200px) {
      .status {
        display: table-cell;
      }
    }

    .status-led {
      width: 0.825em;
      height: 0.825em;
      border-radius: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.25em;
    }

    .progress-revision {
      font-size: 0.925em;
    }

    td.timestamp,
    td.step-time {
      font-size: 0.875em;
    }
  }
}

/* Editable Element */

.editable {
  .editable-inner,
  i.mdi-cloud-upload,
  i.mdi-pencil,
  i.mdi-cancel,
  i.mdi-content-save {
    padding: 0 0.5rem;
    transition: padding 0.5s, background 0.5s, border 0.5s;
  }
  .editable-inner {
    margin-right: 0.3em;
  }
  i {
    cursor: pointer;
  }
  .editable-inner[contenteditable='true'] {
    background-color: rgba(233, 236, 239, 0.36);
    border: 1px solid #e9ecef;
    padding: 0 1rem;
    outline: none;
  }
}

/* Loading widget */
.pantahub-loading-wrapper {
  padding: 0.75rem;
  background-color: #f0f0f0;
  border-radius: 100%;
  margin: 0.5rem;
}

.pantahub-loading {
  animation-duration: 6s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-sizing: border-box;
  display: inline-block;
  max-height: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Device metadata */
.device-meta .meta-key {
  min-width: 14rem;
  width: 30%;
}

.blog {
  padding-top: 3em;
  img {
    max-width: 100%;
  }
}

.device-meta td {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 0.925rem;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    max-width: 30vw;
  }
}

.device-meta .actions {
  text-align: right;
}

.device-meta .new-entry-header td {
  padding-bottom: 0;
}

.device-meta .new-entry-header td label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.device-meta .new-entry-form td {
  border-top: none;
  padding-top: 0;
}

.device-meta .new-entry-form .textarea,
.device-meta .new-entry-form input[type='text'] {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 0.825rem;
}

.device-meta .metadata-edit.new-entry-form td {
  padding-top: 12px;
}
